<manifest xmlns:android="http://schemas.android.com/apk/res/android"

  package="com.creadv.flutter_audio_tagger">
  <!-- Storage permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- For Android 13+ (API 33+) scoped storage -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
</manifest>
